*{margin: 0;padding: 0px; box-sizing: border-box;}

body {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  background-color:#f4f4f4;
  padding: 0;
  margin: 0;
  overflow: visible;
}

/*------------ header section------------- */
/* Nav bar section */
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
/* top division */
.navbar-info{
  background-image: url(../images/footer-2.jpg);
  padding: 0 !important;
}
.navbar-info a{
  color:white;
}
.navbar{
  /* background-image: url("../images/5.jpg"); */
  /* background-image:linear-gradient(to right,#a517ba,#5f1782); */
  background-image:linear-gradient(to right,palevioletred,#5f1782);
  padding: 0 !important;
}
.info-left{
  text-align: left;
  color:white;
  padding: 0 !important;
  margin: 0;
}
.info-right{
  text-align: right;
  color:white;
  padding: 0 !important;
  margin: 0;
  font-weight: 600;
}
/* logo css */
.navbar-brand img{
  height:50px;
  width:100px;
  padding-left: 20px;
}
/* ul tag */
.navbar-nav li{
 padding: 0 10px;
}
.navbar-nav li a{
  color:white !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

/* toggler css */
.fa-bars{
  color:white;
  font-size:30px !important;
}
.navbar-toggler{
  outline:none !important;
}
.dropdown-menu{
  color:white !important;
  font-weight: 300;
  float: right;
  text-align: left;
  background-image:linear-gradient(to right,#a517ba,#5f1782);
}
#navbarNavDropdown a:hover{
  background: palevioletred;
}
#linkappointment{
  border-radius: 5px;
  padding:7px;
}

.info-left .btn{
  border-radius: 5px;
  padding:0.5px 4px;
  background: palevioletred;  
  background: -webkit-linear-gradient(to right, #cc5333, palevioletred);  
  background: linear-gradient(to right, #cc5333, palevioletred); 
}

/* ----------------------- */
/* main fist div css */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
.my-5 {
  margin-top: 3rem !important;
}
.my-5 {
  margin-bottom: 3rem !important;
}  
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
/* main section div 2 */
/* .container {
  width: 100%;
 padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
} */
/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */
.carousel-inner{
  width: 100%;
  height: 400px;
}

/*-----footer---------*/

#footer {

  background-image:linear-gradient(to right,#a517ba,#5f1782);
  /* z-index: 10;
  padding: 30px 0; */
  color: #fff;
}
.specialoffer{
  background-image: url(../images/footer-2.jpg);
  
}
.information{
  background: white;
  color:darkslategrey;
}
.information h5{
  color:forestgreen;
  font-weight: bolder;
  color:darkslategrey;
}
.finalcopyright{
  background: #07030018;  
            background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  
            background: linear-gradient(to right, #070000, #4C0001, #070000); 
}
#footer p.copyright a {
  color: #6deaff;
  font-weight: 700;
}

#footer .social a {
  padding: 0 5px;
  text-decoration: none;
}

#footer .social a i.fa {
  font-size: 1.1rem;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#footer .social a i.fa:hover, #footer .social a i.fa:active, #footer .social a i.fa:focus {
  background-color:firebrick;
}

#footer .social a:hover i.fa {
  color: #fff;
}
.container.footer{
  width: 100%;
}


/* main section */
#main {
  background: #fff;
}



/*---------- ContactUs page---------------------*/
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  border:2;
  border-style: solid;
  border-color:palevioletred;
}
.my-3
{
  font-family: 'Unna',Arial, Helvetica, sans-serif;
  width:95%;
  margin-left: 20px;
}
.card {
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.blue.accent-1 {
  background: #5f2c82;  
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
    background: linear-gradient(to right, #49a09d, #5f2c82); 
  /* background-color: #82b1ff!important; */
}

.form-header {
  padding: .5rem;
  margin-top: -2.00rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  border-radius: .125rem;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.md-form {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.md-form input:not([type]), .md-form input[type=date]:not(.browser-default), .md-form input[type=datetime-local]:not(.browser-default), .md-form input[type=datetime]:not(.browser-default), .md-form input[type=email]:not(.browser-default), .md-form input[type=number]:not(.browser-default), .md-form input[type=password]:not(.browser-default), .md-form input[type=search-md], .md-form input[type=search]:not(.browser-default), .md-form input[type=tel]:not(.browser-default), .md-form input[type=text]:not(.browser-default), .md-form input[type=time]:not(.browser-default), .md-form input[type=url]:not(.browser-default), .md-form textarea.md-textarea {
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.md-form .prefix~input, .md-form .prefix~textarea {
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
}
.md-form .form-control {
  height: auto;
  padding: .6rem 0 .4rem 0;
  margin: 0 0 .5rem 0;
  background-color: transparent;
  border-radius: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.md-form .prefix~label {
  margin-left: 2.5rem;
}
.card .md-form label {
  font-weight: 300;
}
.md-form label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: #757575;
  cursor: text;
  transition: transform .2s ease-out,color .2s ease-out;
  transform: translateY(12px);
  transform-origin: 0 100%;
}
.md-form label {
  font-size: 1rem;
}

.md-form .prefix~label {
    margin-left: 2.5rem;
}
.card .md-form label {
    font-weight: 300;
}
.md-form label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #757575;
    cursor: text;
    transition: transform .2s ease-out,color .2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%;
}
.md-form label {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.md-form .prefix {
  transition: color .2s;
  font-size: 1.75rem;
}

.grey-text {
  color: #9e9e9e!important;
}
.btn-light-blue {
  color: #fff;
  background-color: #82b1ff!important;
}
.btn {
  margin: .375rem;
  color: inherit;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: .125rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: .84rem 2.14rem;
  font-size: .81rem;
}

.text-center {
  text-align: center!important;
  font-weight: bold;
}

/* .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
} */
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
.blue.accent-1 {
  background-color: #82b1ff!important;
}
a.waves-effect, a.waves-light {
  display: inline-block;
}
.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  transition: all .2s ease-in-out;
  width: 47px;
  height: 47px;
}
.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.blue.accent-1 > .fa {
  font-size: large;
  font-weight: 900;
  text-align: center;
  padding-top: 15px;
  color:white;
}

/*--------------------*/

/*-------Gallery-------------*/
.my-3.gallery
{
  font-family: 'Unna',Arial, Helvetica, sans-serif;
  width:95%;
  margin-left: 20px;
}
#jssor_1{
  position:relative;
  margin:5 auto;
  top:5px;
  left:5px;
  padding-left: 10px;
  width:960px;
  height:480px;
  overflow:hidden;
  visibility:hidden;
  background-color:#24262e;
}
/*--------------------*/

/*-------about page-------------*/
.aboutus{
  display: block;
  height:400px;
  margin-top:20px;
}
.aboutcontent{
  border-left: 5px solid palevioletred;
  border-top: 5px solid palevioletred;
  margin-top:20px;
}
.abouttab a{
  font-weight: bold;
  font-size: 16px;
}
.abouttab a:hover{
  background: palevioletred;
  color:white;
  font-weight: bold;
}

/*--------------------*/

/*-----------------Register----*/
.mainform{
  margin-top: 50px;
  margin-bottom: 30px;

}
.Registration-form,.login-form{
border:1px solid #5f2c82;
  padding:10px;
  border-radius: 5px;
}
.headinglogin{
  text-align: center;
  color:white;
  border-radius: 5px;
  background: #5f2c82;  
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
    background: linear-gradient(to right, #49a09d, #5f2c82); 
}
.forgotform{
  margin-top: 70px;
  margin-bottom: 50px;
}
.Forgotpwd-form{
  border:1px solid #5f2c82;
  padding:10px;
  border-radius: 5px;

}
.btnform{
  background: #49a09d;
  color:white;
  font-weight: bold;
}
.btnform:hover{
  
  color:white;
  font-weight: bold;
}
/*--------------------*/

/* -----services----- */

.services
{
  margin:10px 30px;
  padding:5px;
}
#accordionExample{
  margin:10px 5px;
  padding:10px;
}