 <div class="container-fluid footer" style="padding: 0px;">
        <div class="row specialoffer">
            <div class="col-md" style="text-align: center;">
                <h4 style="color:goldenrod;">Subscribe to our Newsletter</h4>
                <p>Receive promotions, specials and up-to-date information about exciting things happening at Relish
                    Spa.</p>
                <form action="#" method="post" target="_blank">
                    <div>
                        <div class="email-field-wrap" style="width:400px;margin-left:450px;">
                            <div><input type="email" name="EMAIL" title="Enter email address" required="required"
                                    placeholder="Your email here"><input type="submit" name="mc_submit" value="SIGN UP"
                                    style="background:dodgerblue;color:white;font-weight: bold;text-align:center;"> </div>
                        </div>
                    </div>
                </form>
                <p></p>
            </div>
        </div>
        <div class="row information">
            <div class="col-md-3">
                <h5>About Us</h5>
                <p>Relish Spa and Wellness is located at 31st avenue, Reginas’s most popular mall.<br>
                    <strong>Join our loyalty program. Earn 1 point for every $25 spent. Once you reach 50 points, you
                        have $50 to use towards any product or service.</strong></p>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <div><span class="fa fa-map-marker"> </span> 2755 31st Avenue, Regina.</div>
                <div><span class="fa fa-phone"> </span>1 (306) 526-0000</div>
                <div> <span class="fa fa-envelope"> </span> <a href="mailto:contact@janesspa.com" class="spalink"
                        style="color:darkslategray;">Sweta@fakemail.com</a></div>
            </div>
            <div class="col-md-3">
                <h5>Hours</h5>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Monday to Saturday: </strong>9am - 9pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Sunday:</strong> 10am -&nbsp;6pm
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Special Hours </h5>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Remembrance Day :</strong>
                    </div>
                    <div class="col-2 col-lg-5 col-md-5 col-sm-6 col-xs-5">
                        9am - 4pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Christmas Eve :</strong>
                    </div>
                    <div class="col-2 col-lg-5 col-md-5 col-sm-6 col-xs-5">
                        9am - 4pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Christmas Day :</strong>
                    </div>
                    <div class="col-2 col-lg-5 col-md-5 col-sm-6 col-xs-5">
                        CLOSED
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>Boxing Day :</strong>
                    </div>
                    <div class="col-2 col-lg-5 col-md-5 col-sm-6 col-xs-5">
                        1pm - 6pm
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-7 col-md-7 col-sm-6 col-xs-7">
                        <strong>New Year's Eve :</strong>
                    </div>
                    <div class="col-2 col-lg-5 col-md-5 col-sm-6 col-xs-5">
                        9am - 4pm
                    </div>
                </div>
            </div>
        </div>
        <div class="row finalcopyright" style="padding-top: 4px;">
            <div class="col-sm-3 social" style="text-align: justify;">
                <a href="https://facebook.com/" title="facebook" traget="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/" class="icon-instagram" target="_blank">
                    <i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com//" title="twitter" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://plus.google.com/" title="Google+" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <p class="copyright">Made with
                    <i class="fa fa-heart"></i> By
                    Relish Spa and Wellness &copy;
                    <span id="currentYear"></span> All Rights Reserved.
                </p>
            </div>
            <div class="col-sm-3 social" style="text-align: right;">
                <a href="#">
                    <i class="fa fa-arrow-circle-o-up"></i>
                </a>
            </div>
        </div>
    </div>
